/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
	margin: 0;
	text-align: center;
}

.activities {
	width: 100px;
    border-radius: 50%;
}
#avatar {
    width: 180px;
    height: 248px;
    border-radius: 10px;  
}
#main-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px 40px;

}
