body {
    max-width: 1200px;
    background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
    font-family: 'Tinos', serif;
}

#header-title {
    color: #ffffff;
    text-shadow: 0px 0px 3px black;
    display: inline-block;
    background: #757B78;
    margin: 0 100px 10px;
    border-radius: 10px;
    font-size: 32px;
    padding: 3px 1%;
}

#header-text {
    color: #ffffff;
    text-shadow: 0px 0px 3px black;
    display: inline-block;
    background: #7C9CAF;
    margin: 0 250px;
    border-radius: 10px;
    padding: 3px 1%;
}

#avatar {
    width: 180px;
    height: 248px;
    border-radius: 10px;
    --b: 5px; /* Border thickness*/
	--c: #0000 25%, #26221B 0; /*Border color*/
	padding: 10px;
	background: conic-gradient(
				from 90deg at top var(--b) left var(--b),
				var(--c)
			)
			0 0,
		conic-gradient(from 180deg at top var(--b) right var(--b), var(--c))
			100% 0,
		conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0
			100%,
		conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c))
			100% 100%;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	transition: 0.6s;
	cursor: pointer;
    transition: all 1s;
}
#avatar:hover {
    background-size: 51% 51%;
}

#main-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px 40px;
}

#activities-title {
    padding: 40px 0;
    font-size: 24px;
    text-shadow: 0 0 2px #ffffff;
    background-color: #E7ECEE;
    margin: 0 auto;
}

#underline {
    --c: linear-gradient(#26221B 0 0);
	padding-bottom: 0.15em;
	background: var(--c), var(--c);
	background-size: 2em 0.3em;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	transition: 0.4s linear, background-size 0.4s 0.2s linear;
}

#underline:hover {
    background-size: 30% 0.3em;
	background-position: 30% 97%, 70% 97%;
}

.header {
    background-image: url("images/los_angeles.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 343px;
    padding-top: 150px;
    transition: ease-in-out;
}

.header:hover{
    background-image: url("images/love_los_angeles.png");
}  

.img-activities {
    display: inline;
	width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px 0;
    image-rendering: pixelated;
    transition:ease-in-out;
}
.img-activities:hover {
    transform: scale(1.1);
}

.activities-section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    background-color: #E7ECEE;
}

.guide-section {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 280px;
    border-radius: 10px;
    background: #7C9CAF;
    margin: 50px auto;
    padding: 20px;
    color: #26221B;
    border-radius: 8px;
    border-bottom: 10px solid #26221B;
}

.activity {
    padding: 0 30px;
    flex-basis: 0;
    flex-grow: 1;
}