body {
	margin: 0;
	text-align: center;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Vidaloka', serif;
}

#header-title {
    color: #ffffff;
    text-shadow: 0px 0px 3px black;
    background: #757B78;
    margin: 0 600px 10px;
    border-radius: 10px;
    font-size: 32px;
    padding: 3px 2px;
}

#header-text {
    color: #ffffff;
    text-shadow: 0px 0px 3px black;
    background: #7C9CAF;
    margin: 0 480px;
    border-radius: 10px;
    padding: 3px 2px;
}

#avatar {
    width: 180px;
    height: 248px;
    border-radius: 10px;  
}

#main-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px 40px;
}

#activities-title {
    padding: 30px 0;
    font-size: 24px;
    text-shadow: 0 0 2px #ffffff;
}

.header {
    background-image: url("images/los_angeles.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 343px;
    padding: 150px 0 0 0;
}

.header:hover{
    background-image: url("images/love_los_angeles.png");
}  

.img-activities {
    display: inline;
	width: 200px;
    border-radius: 50%;
    padding: 5px 0;
}

.guide-section {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 294px;
    border-radius: 10px;
    background: #7C9CAF;
    margin: 0 auto;
    padding: 20px;
    color: #656765;
    text-shadow: 0px 0px 2px white;
}

.activities-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
}

.activity-hiking, .activity-garden, .activity-museum {

}