body {
  text-align: center;
  margin: 0 auto;
  font-family: 'Tinos', serif;
  background-color: rgba(160, 192, 218, 0.6);
}
/*
* Nav Bar
*/
.nav-bar {
  display: flex;
  padding: 15px;
  font-size: 18px;
  color:#44494C;
  justify-content: center;
  margin: 0 auto;
}
#guide {
  flex: 1;
}

 #home {
  flex: 1;
 }

/*
*   Hero Section
*/
#title {
  font-size: 70px;
  text-shadow: 1px 1px 2px #DFDDD2;
  padding: 50px;
  margin: 0 auto;
}
.title-words {
    animation: color-animation 4s linear infinite;
}

.title-words-1 {
    --color-1: #837C53;
    --color-2: #8A8F96;
    --color-3: #44494C;
}

.title-words-2 {
    --color-1: #44494C;
    --color-2: #837C53;
    --color-3: #8A8F96;
}

.title-words-3 {
    --color-1: #8A8F96;
    --color-2: #44494C;
    --color-3: #837C53;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/*
* Image Container
*/

.img-containter {
  display: flex;
  flex-wrap: wrap;
}

.img-containter > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fav-trail-img {  
  justify-content: center;
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  .img-containter {
    flex-wrap: wrap;
  }
  .img-containter > .fav-trail-img {
    flex: 1 1 50%;
  }
}