:root {
    background-color: #D3DEDD;
    color:#28241D;
    --color-4: #7C9CAF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #28241D;
        --color: #FFFFFF;
    }
}

@media screen and (max-width: 830px) {
    .activities-section {
        display: flex;
        flex-direction: column;
    }
    #header-title {
        font-size: 40px !important;
    }

    #header-text {
        font-size: 22px !important;
        padding: 5px 6px !important;
        margin: 0 25px; 
    }
    .guide-section {
        width: 300px;
        height: 180px;
        margin: 30px 40px;
    }

}

@media screen and (min-width: 768px) {
    #header-title,
    #header-text {
        display: flex;
        flex-direction: column !important;
        width: auto;
        margin: 10px auto;
    }
}

body {
    background-color: var(background-color);
	margin: 0 auto;
	text-align: center;
    font-family: 'Tinos', serif;
}
/*
*   Hero Section
*/

.headerContainer {
    height: 500px;
    width: 100%;
    position: relative;
    background-image: url("/images/los_angeles.png");
    transition: all 1s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    max-width: 95vw;
    height: auto;
    padding-top: 10px;
}

.headerContainer:hover{
    background-image: url("/images/love_los_angeles.png");
}

#header-title,
#header-text {
    padding: 5px 2%;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px 2px #28241D;
}

#header-title {
    background: #b0c7d5;
    font-size: 60px;
    margin-bottom: 15px;
    opacity: 95%;
}

#header-text {
    color: #ffffff;
    text-shadow: 0px 0px 2px #3A3C3A;
    background: var(--color-4);
    font-size: 28px;
    letter-spacing: 1.1px;
    opacity: 85%;
}

/*
*   Activities Section
*/

#activities-title {
    max-width: 1200px;
    padding: 30px 80px;
    font-size: 24px;
    background-color: #D3DEDD;
    margin: 0 auto;
}
.activity-title,
#activities-title {
    color: #446B44;
    text-shadow: 0 0 1px #434038;
    letter-spacing: 0.5px;
}

.activities-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 30px 80px;
    background-color: var(background-color);
}

.activity {
    padding: 0 30px;
    flex-basis: 0;
    flex-grow: 1;
}

.activity-details {
    text-align: initial; 
}

.img-activities {
    display: inline;
	width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px 0;
    image-rendering: pixelated;
    transition: all .5s ease-in-out;
}

.img-activities:hover {
    transform: scale(1.1);
}

/*
*   Guide Section
*/

.guide-section {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    background: #81A1B5;
    margin: 0 auto;
    padding: 30px 30px;
    color: #26221B;
    border-bottom: 15px solid #26221B;
    font-weight: 600;
}

#your-guide-title {
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #E7ECEE;
}

#guides-bio {
    width: 400px;
}

#link {
    text-decoration: #605D58 wavy underline;
    text-decoration-thickness: 2px;
    color: #446B44;
    font-weight: 600;
}

#link:hover, #link:focus {
    color: var(--color-4);
    font-weight: 700;
    font-size: 18px;
}

#avatar {
    width: 180px;
    height: 248px;
    border-radius: 10px;
    --b: 5px; /* Border thickness*/
	--c: #0000 25%, #26221B 0; /*Border color*/
	padding: 10px;
	background: conic-gradient(
				from 90deg at top var(--b) left var(--b),
				var(--c)
			)
			0 0,
		conic-gradient(from 180deg at top var(--b) right var(--b), var(--c))
			100% 0,
		conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--c)) 0
			100%,
		conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--c))
			100% 100%;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	transition: 0.6s;
	cursor: pointer;
    transition: all 1s;
}

#avatar:hover {
    background-size: 51% 51%;
}

#linkedIn-link {
    --c: linear-gradient(#26221B 0 0);
	padding-bottom: 0.40em;
	background: var(--c), var(--c);
	background-size: 2em 0.3em;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	transition: 0.4s linear, background-size 0.4s 0.2s linear;
    color: #E7ECEE;
}

#linkedIn-link:hover, #linkedIn-link:focus {
    background-size: 30% 0.3em;
	background-position: 30% 97%, 70% 97%;
    color: #25211B;
}
#guide-details {
    text-align: justify;
    padding: 0 15px;
}

/*
*      Tittle Animation
*/

.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #28241D;
    --color-2: #81A1B5;
    --color-3: #3A3C3A;
}

.title-word-2 {
    --color-1: #81A1B5;
    --color-2: #3A3C3A;
    --color-3: #6E6D65;
}

.title-word-3 {
    --color-1: #25211B;
    --color-2: #3A3C3A;
    --color-3: #81A1B5;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}